{% extends 'catalog/base.html' %}
{% load media_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <h3 class="card-header">
                        Информация о продукте
                    </h3>
                    <img class="card-img-top"
                         src="{{ object.image|media_url }}"
                         alt="Card image cap">
                </div>
                <div class="col-6">
                    <h2>{{ object.name }}</h2>
                    <p>Цена: {{ object.price }}</p>
                    <p>Описание: {{ object.description }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}